@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.custom-btn {
    min-width: 130px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0.75rem;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}
